/* Write your CSS here */
.destination-item {
  list-style-type: none;
  width: 250px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 32px;
}

.image {
  height: 225px;
  width: 175px;
}
.name {
  color: #000000;
  font-family: Roboto;
  font-size: 32px;
}
